{% extends "base.html.jinja" %} {% block body %}
<div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="height: 100vh;">
    <div class="mb-3" style="max-width: 215px;">
        <form action="/login">
            <button class="btn btn-primary shadow d-block w-100" style="background: #1DB954;border-color: #1db954;">Login with Spotify</button></div>
    </form>
</div>
{% endblock %}