{% extends "base.html.jinja" %} {% block header %}
<title>{{user.user_display_name}}'s Profile</title>
{% endblock %} {% block body %}
<div class="col-md-8 col-xl-6 text-center mx-auto" style="width: 86%;margin-top: 40px;">
    <p class="fw-bold text-success mb-2">{{user.user_display_name}}</p>
    <h3 class="fw-bold">Spotify Stats</h3>
    <a href="{{user.user_profile_picture}}" target="_blank"> <img src="{{user.user_profile_picture}}" class="img-fluid rounded-circle" style="width: 100px;height: 100px; margin-top:1rem"></a>
</div>

<section class="py-5">
    <div class="container py-4 py-xl-5">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5" id="currently_playing">
                <h5 class="fw-bold">Currently Playing</h5>
                <a href="{{currently_playing.track_url}}" target="_blank" id="current-track-link">
                <div class="d-flex" style="padding: 10px;background: #ffffff;border-radius: 10px;"><img class="img-fluid" id="current-track-album-cover" src="{{currently_playing.album_cover}}" width="30%" style="border-radius: 0;" />
                    <div class="d-xl-flex align-items-xl-center">
                        <div class="text-start d-flex flex-column justify-content-xl-center align-items-xl-start" style="margin-left: 14px;padding-top: 9px;">
                            <p style="font-weight: bold;text-align: left;margin-bottom: 0px; " id="current-track-name">{{currently_playing.track_name}}</p>
                            <p style="text-align: left;height: 100%;" id="current-track-artist">{{currently_playing.artist_name}}</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                {% if not base %}
                <div>
                    <h5 class="fw-bold">Recomend {{user.user_display_name}} a song</h5>
                    <p class="text-muted mb-4">Paste any Spotify link and it will automatically be added to {{user.user_display_name}}&#39;s <a href="{{user.user_recommended_playlist_url}}" target="_blank">recommended playlist</a>
                    <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post" style="width: 100%;" action="/{{user.user_id}}/add_track_to_recommended_playlist">
                        <div class="my-2"><input class="border rounded-pill shadow-sm form-control" type="link" name="link" placeholder="Spotify Link" /></div>
                        <div class="my-2"><button class="btn btn-primary shadow ms-2" type="submit">Post</button></div>
                    </form>
                    {% if track_added %}
                    <p class="text-muted mb-4" id = "add-track-message">Added!</p>
                    {% endif %}
                </div>
                {% else %}
                <div>
                    <h5 class="fw-bold">Share this link with your friends!</h5>
                    <p class="text-muted mb-4">Your friends can add their favourite songs to a <a href="{{user.user_recommended_playlist_url}}" target="_blank">recommended playlist</a> for you to enjoy.<br /></p>
                    <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post" style="width: 100%;">
                        <div class="my-2"><input class="border rounded-pill shadow-sm form-control" id="copy-input" type="link" name="link" value="https://spotify.radityaharya.me/{{user.user_id}}" readonly /></div>
                        <div class="my-2"><button class="btn btn-primary shadow ms-2" id="copy-button" type="button">Copy</button></div>
                    </form>
                        <p class=" text-muted mb-4" id = "copy-message"></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<div class="col-md-8 col-xl-6 text-center mx-auto" style="width: 86%;margin-top: 40px;">
    <h3 class="fw-bold">Top Tracks and Artists</h3>
</div>

<div class="container d-xxl-flex justify-content-xxl-center py-5">
    <div class="mx-auto" style="max-width: 1039px;">
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center" style="margin-right: -12px;margin-left: -12px;">
            <div class="col mb-4">
                <div class="card bg-primary-light">
                    <div class="card-body text-center px-4 py-5 px-md-5" style="padding-top: 28px !important;">
                        <p class="fw-bold text-primary card-text mb-2">Top Tracks</p>

                        {% for top_tracks in user_data["top_tracks"] %}
                        <a href="{{top_tracks.track_url}}" target="_blank">
                            <div class="d-flex" style="padding: 10px;background: #ffffff;border-radius: 10px; margin-top: 16px !important">
                                <div class="d-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 11px;padding-left: 4px; min-width:49.41px">
                                    <h5 class="d-flex align-items-center" style="margin-bottom: 0px;text-align: center;">#{{top_tracks["number"]}}</h5>
                                </div>

                                <img class="img-fluid" src="{{top_tracks["album_cover"]}}" width="30%" style="border-radius: 0;max-height: 90px;max-width: 90px;" />

                                <div class="d-xl-flex align-items-xl-center">
                                    <div class="text-start d-flex flex-column justify-content-xl-center align-items-xl-start" style="margin-left: 14px;padding-top: 9px;">
                                        <p style="font-weight: bold;text-align: left;margin-bottom: 0px;--bs-body-font-size: 0.5px;font-size: 12px;"><strong>{{top_tracks["track_name"]}}</strong><br /></p>
                                        <p style="text-align: left;height: 100%;font-size: 12px;">{{top_tracks["artist_name"]}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card bg-primary-light" style="background: #e8fdff !important;">
                    <div class="card-body text-center px-4 py-5 px-md-5" style="padding-top: 28px !important; ">
                        <p class="fw-bold text-info card-text mb-2">Top Artists</p>

                        {% for top_artist in user_data["top_artists"] %}
                        <a href="{{top_artist.artist_url}}" target="_blank">
                            <div class="d-flex" style="padding: 10px;background: #ffffff;border-radius: 10px; margin-top: 16px !important">
                                <div class="d-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 11px;padding-left: 4px; min-width:49.41px">
                                    <h5 class="d-flex align-items-center" style="margin-bottom: 0px;text-align: center;">#{{top_artist["number"]}}</h5>
                                </div>

                                <img class="img-fluid" src="{{top_artist["artist_picture"]}}" width="30%" style="border-radius: 0;max-height: 90px;max-width: 90px;" />

                                <div class="d-xl-flex align-items-xl-center">
                                    <div class="text-start d-flex flex-column justify-content-xl-center align-items-xl-start" style="margin-left: 14px;padding-top: 9px;">
                                        <p style="font-weight: bold;text-align: left;margin-bottom: 0px;--bs-body-font-size: 0.5px;font-size: 12px;"><strong>{{top_artist["artist_name"]}}</strong><br /></p>
                                        <p style="text-align: left;height: 100%;font-size: 12px;">{{top_artist["followers"]}} followers</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %} {% block script %}
<script>
    {% if base%}
    document.getElementById("copy-button").addEventListener("click", function() {
        var copyText = document.getElementById("copy-input");
        copyText.select();
        document.execCommand("copy");
        document.getElementById("copy-message").innerHTML = "Copied!";
    });
    {% endif %}

    {% if track_added %}
    // fade out the success message after 3 seconds using css animation
    setTimeout(function() {
        $("#add-track-message").fadeOut(1000);
    }, 3000);
    {% endif %}
    
    setInterval(function() {
        fetch('https://spotify.radityaharya.me/{{user.user_id}}/currently_playing')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('current-track-name').innerHTML = '<p style="font-weight: bold;text-align: left;margin-bottom: 0px; " id="current-track-name" >' + data["track_name"] + '</p>';
                document.getElementById('current-track-artist').innerHTML = '<p style="text-align: left;height: 100%;" id="current-track-artist">' + data["artist_name"] + '</p>';
                document.getElementById('current-track-album-cover').src = data.album_cover;
                document.getElementById('current-track-link').href = data.track_url;
            })
            .catch(error => console.error(error));
    }, 10000);
</script>
{% endblock script %}